[run]
source = .
omit =
    */tests/*
    budidayaplus/urls.py  # Replace project_name with your actual project folder
    manage.py
    */migrations/*
    */admin.py
    */apps.py
    */wsgi.py
    */asgi.py
    */settings.py
    */__init__.py
    */tests.py
    */signals.py

[report]
omit =
    */tests/*
    budidayaplus/urls.py
    manage.py
    */migrations/*
    */admin.py
    */apps.py
    */wsgi.py
    */asgi.py
    */settings.py
    */__init__.py
    */tests.py
    */signals.py
